# Configuration file

clipboard {
    I:0 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        108
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        20
        3
        0
        1
        115
        0
        0
        0
        55
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        44
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        66
        22
        73
        -49
        73
        44
        46
        -74
        103
        96
        104
        96
        -6
        63
        -62
        1
        0
        74
        9
        12
        48
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        108
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        20
        3
        0
        1
        115
        0
        0
        0
        59
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        45
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        66
        22
        73
        -49
        73
        44
        46
        -74
        103
        104
        96
        106
        96
        -6
        63
        -62
        1
        0
        -38
        -82
        12
        -78
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        29
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        103
        108
        97
        115
        115
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        3
        0
        1
        98
        0
        0
        0
        20
        3
        0
        1
        115
        0
        0
        0
        47
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        47
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        16
        66
        22
        73
        -49
        73
        44
        46
        -74
        103
        96
        104
        96
        -7
        -49
        48
        10
        71
        50
        4
        0
        118
        -50
        12
        50
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


